## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>
<%! from microsite_configuration.templatetags.microsite import platform_name %>

<div class="wrapper wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
      <ol>
          <li class="nav-colophon-01">
          <a id="about" href="${marketing_link('ABOUT')}">
              ${_("About")}
          </a>
          </li>
          <li class="nav-colophon-04">
          <a id="faq" href="${marketing_link('FAQ')}">
              ${_("FAQ")}
          </a>
          </li>
      </ol>
      </nav>

      <div class="colophon-about">
        <img src="${static.url('https://www.escola.org/images/cursos-logo-header.png')}" alt="${_('{platform_name} Logo').format(platform_name=platform_name())}" />

        <p>Escola.org - Todos temos algo a aprender - Clubes escolares, cursos de preparação para exames e formação técnico profissional.</p>
      </div>
    </div>

    <div class="references">
      <nav class="nav-social">
        <ul>
          <li class="nav-social-01">
            <a href="http://www.meetup.com/escola/" rel="external">
              <img src="${static.url('images/social/ico-social-meetup.png')}" alt="escola.org on Meetup" />
            </a>
          </li>
          <li class="nav-social-02">
            <a href="http://www.facebook.com/ensinobasico" rel="external">
              <img src="${static.url('images/social/ico-social-facebook.png')}" alt="escola.org no Facebook" />
            </a>
          </li>
          <li class="nav-social-03">
            <a href="https://twitter.com/" rel="external">
              <img src="${static.url('images/social/ico-social-twitter.png')}" alt="escola on Twitter" />
            </a>
          </li>
          <li class="nav-social-04">
            <a href="https://plus.google.com/u/0/+DavidAzevedo/posts" rel="external">
              <img src="${static.url('images/social/ico-social-google.png')}" alt="escola on Google+" />
            </a>
          </li>
          <li class="nav-social-05">
            <a href="http://youtube.com/user/tvensino" rel="external">
              <img src="${static.url('images/social/ico-social-youtube.png')}" alt="escola on YouTube" />
            </a>
          </li>
        </ul>
      </nav>

      <p class="copyright">${_("&copy; 2014 {platform_name}, some rights reserved.").format(platform_name=settings.PLATFORM_NAME)}</p>

      <nav class="nav-legal">
        <ul>
          <li class="nav-legal-01">
            <a href="${marketing_link('TOS')}">${_("Terms of Service and Honor Code")}</a>
          </li>
          <li class="nav-legal-02">
            <a href="${marketing_link('PRIVACY')}">${_("Privacy Policy")}</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
